<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,128}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>128.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{103,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,128}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{103,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,128}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>16394.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{103,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,128}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{103,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,128}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{103,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,128}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>256.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{103,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,128}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{103,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,128}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1042},{103,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,128}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>4096.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1172},{103,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,128}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>512.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1302},{103,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,128}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1432},{103,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,128}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1562},{103,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,128}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>8192.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1692},{103,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,128}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>total_item.png</string>
            <key>size</key>
            <string>{107,1822}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8adb925ab81cbca369cc46b59492a10:117d8b5ec84953faf94703991a18f50c:da9e73af3653ca1d2c67db9fc5014472$</string>
            <key>textureFileName</key>
            <string>total_item.png</string>
        </dict>
    </dict>
</plist>
